.contactsSection {
    width: 400px;
    margin-left: 250px;
}

.contactsTitle {
        font-size: 40px;
        color: rgb(38, 17, 53);
        text-shadow: 5px 5px 5px indigo;
        font-style: italic;
}

.contactsList {
    background-color: white;
    border: 1px solid indigo;
    border-radius: 5px;
    text-align: start;
}

.contactsItem {
color: rgb(91, 39, 128);
font-style: italic;
font-size: 25px;
text-shadow: 15px 15px 15px rgb(253, 218, 253);
margin-bottom: 10px;
}